---
- name: Deploy Portainer agent
  hosts: all
  become: true

  vars:
    portainer_agent_image: "portainer/agent:2.19.4"
    container_name: "portainer_agent"
    host_port: 9001

  tasks:
    - name: Pull the required Portainer image
      community.docker.docker_image:
        name: "{{ portainer_agent_image }}"
        source: pull
      notify: Deploy Portainer container

  handlers:
    - name: Deploy Portainer container
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ portainer_agent_image }}"
        restart_policy: always
        published_ports:
          - "{{ host_port }}:9001"
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - /var/lib/docker/volumes:/var/lib/docker/volumes
          - /:/host