PUID=1000
PGID=1000
TZ=Etc/UTC
MEM_LIMIT=1024
MEM_STARTUP=1024

# MongoDB Root Credentials
MONGO_ROOT_USER=your_username
MONGO_ROOT_PASS=your_password_here

# MongoDB UniFi User Credentials
MONGO_USER=your_username
MONGO_PASS=your_password_here

